;OLED Astray
;https://talljoe.com/

[colors]
background = #00000000
foreground-light = #fbfbed
foreground-grey = #a1a493
foreground-dark = #000000
background-1 = #000000
foreground-1 = ${colors.foreground-light}
background-2 = #4c7572
foreground-2 = ${colors.foreground-dark}
background-3 = #22a9a8
foreground-3 = ${colors.foreground-dark}
background-4 = #9d6097
foreground-4 = ${colors.foreground-dark}
background-5 = #a9a822
foreground-5 = ${colors.foreground-dark}
background-6 = #43a55f
foreground-6 = ${colors.foreground-dark}
background-alert = #BF616A
foreground-alert = ${colors.foreground-dark}

[global/wm]

[settings]
pseudo-transparency = true

; Define fallback values used by all module formats
format-foreground = 
format-background = 
format-underline =
format-overline =
format-spacing =
format-padding =
format-margin =
format-offset =

[bar/mainbar]
wm-name = " "
monitor = ${env:MONITOR}
width = 100%:-12
offset-x = 6
height = 36

background = ${colors.background}
foreground = ${colors.foreground-light}

radius-top = 2
line-size = 3

font-0 = Fira Code:size=16;6
font-1 = Font Awesome 5 Free Regular:size=16;4
font-2 = Font Awesome 5 Free Solid:size=16;4
font-3 = Font Awesome 5 Brands:size=16;4
font-4 = Font Awesome 5 Free Solid:size=18;6

modules-left = window-title
modules-center = tags
modules-right = wireless date time battery-time battery-percent burger

[module/burger]
type = custom/text
content = 
content-padding = 1
content-background = ${colors.background-3}
content-foreground = ${colors.foreground-3}

click-right = systemctl hibernate

[module/window-title]
type = internal/xwindow

format-overline = ${colors.background-3}

;format-prefix = 
format-prefix = 
format-prefix-padding = 1
format-prefix-background = ${colors.background-3}
format-prefix-foreground = ${colors.foreground-3}

label-padding = 1
label = %title:90:90:...%

[module/tags]
type = internal/xworkspaces
enable-click = true

format-overline = ${colors.background-6}

;format-prefix = 
format-prefix = 
format-prefix-padding = 1
format-prefix-background = ${colors.background-6}
format-prefix-foreground = ${colors.foreground-6}

label-active = "%{T5}%{T-} %name% %{T5}%{T-}"
label-active-foreground = ${colors.background-6}
label-empty = " %index%:%name% "
label-empty-foreground = ${colors.foreground-grey}

[module/date]
type = internal/date
date = %b %d

; format-overline = ${colors.background-2}

format-prefix = 
format-prefix-padding = 1
format-prefix-background = ${colors.background-2}
format-prefix-foreground = ${colors.foreground-2}

label = %date%
label-padding = 1

[module/time]
type = internal/date
time = %H:%M

; format-overline = ${colors.background-2}

format-prefix = 
format-prefix-padding = 1
format-prefix-background = ${colors.background-2}
format-prefix-foreground = ${colors.foreground-2}

label = %time%
label-padding = 1

[module/wireless]
type = internal/network
interface = wlp59s0
interval = 3

; format-connected-overline = ${colors.background-5}

format-connected-prefix = 
format-connected-prefix-padding = 1
format-connected-prefix-background = ${colors.background-4}
format-connected-prefix-foreground = ${colors.foreground-4}

format-connected = <label-connected>
format-disconnected =

label-connected = %essid:4:16:...%
label-connected-padding = 1

[module/battery-percent]
type = internal/battery

full-at = 99
battery = BAT0
adapter = AC
poll-interval = 2

format-full = 
format-full-background = ${colors.background-6}
format-full-foreground = ${colors.foreground-6}
format-full-padding = 1
format-charging = <animation-charging><label-charging>
format-discharging = <ramp-capacity><label-discharging>

label-charging = %percentage:3:3%%
label-charging-foreground = ${colors.foreground-1}
label-charging-background = ${colors.background-1}
label-charging-padding = 1
label-discharging = %percentage:3:3%%
label-discharging-foreground = ${colors.foreground-1}
label-discharging-background = ${colors.background-1}
label-discharging-padding = 1

ramp-capacity-foreground = ${colors.foreground-5}
ramp-capacity-background = ${colors.background-5}
ramp-capacity-padding = 1
ramp-capacity-0 = 
ramp-capacity-0-background = ${colors.background-alert}
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

animation-charging-background = ${colors.background-6}
animation-charging-foreground = ${colors.foreground-6}
animation-charging-padding = 1
animation-charging-framerate = 800
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 

[module/battery-time]
type = internal/battery

full-at = 99
battery = BAT0
adapter = AC

poll-interval = 10
time-format = %H:%M

format-charging-prefix = 
format-charging-prefix-background = ${colors.background-6}
format-charging-prefix-foreground = ${colors.foreground-6}
format-charging-prefix-padding = 1
format-discharging-prefix = 
format-discharging-prefix-background = ${colors.background-5}
format-discharging-prefix-foreground = ${colors.foreground-5}
format-discharging-prefix-padding = 1

format-charging = <label-charging>
format-discharging = <label-discharging>
format-full =

label-charging = %time%
label-charging-padding = 1
label-discharging = %time%
label-discharging-padding = 1