;GATOLED
;https://talljoe.com/

[colors]
background = #00000000
foreground-light = #F6F7DB
foreground-grey = #798292
foreground-dark = #000000
background-1 = #000000
foreground-1 = ${colors.foreground-light}
foreground-2 = #D35F4C
background-2 = ${colors.foreground-dark}
foreground-3 = #DECB9A
background-3 = ${colors.foreground-dark}
foreground-4 = #CC9E78
background-4 = ${colors.foreground-dark}
foreground-5 = #5C4129
background-5 = ${colors.foreground-dark}
foreground-6 = #7BB8AF
background-6 = ${colors.foreground-dark}
foreground-alert = #CD323D
background-alert = ${colors.foreground-dark}

[global/wm]

[settings]
pseudo-transparency = true

; Define fallback values used by all module formats
format-foreground = 
format-background = 
format-underline =
format-overline =
format-spacing =
format-padding =
format-margin =
format-offset =

[bar/mainbar]
wm-name = "_"
monitor = ${env:MONITOR}
width = 100%:-12
offset-x = 6
height = 36
cursor-click = pointer

background = ${colors.background}
foreground = ${colors.foreground-light}

radius-top = 2
line-size = 3

font-0 = Monoid:size=16;3
font-1 = Font Awesome 5 Free Regular:size=16;1
font-2 = Font Awesome 5 Free Solid:size=16;1
font-3 = Font Awesome 5 Brands:size=16;1
font-4 = Font Awesome 5 Free Solid:size=16;1

modules-left = window-title
modules-center = tags
modules-right = wireless date time battery-time battery-percent

[module/window-title]
type = internal/xwindow

format-prefix = " "
format-foreground = ${colors.foreground-light}

label = %title%
label-maxlen = 90
label-ellipses = true
label-background = ${colors.background-3}
label-foreground = ${colors.foreground-3}

[module/tags]
type = internal/xworkspaces
enable-click = true

format-prefix = 
format-prefix-background = ${colors.background-2}
format-prefix-foreground = ${colors.foreground-2}
format-suffix = 
format-suffix-background = ${colors.background-2}
format-suffix-foreground = ${colors.foreground-2}

label-active = "%{T5}%{T-} %name% %{T5}%{T-}"
label-active-foreground = ${colors.foreground-2}
label-empty = " %index%:%name% "
label-empty-foreground = ${colors.foreground-grey}

[module/date]
type = internal/date
date = %b %d

format-prefix = 
format-prefix-padding = 1
format-prefix-background = ${colors.background-2}
format-prefix-foreground = ${colors.foreground-2}

label =  %date% 
label-padding = 0

[module/time]
type = internal/date
time =  %H:%M 

format-prefix = 
format-prefix-padding = 1
format-prefix-background = ${colors.background-2}
format-prefix-foreground = ${colors.foreground-2}

label = %time%
label-padding = 0

[module/wireless]
type = internal/network
interface = wlp59s0
interval = 3

format-connected-prefix = 
format-connected-prefix-padding = 1
format-connected-prefix-background = ${colors.background-4}
format-connected-prefix-foreground = ${colors.foreground-4}

format-connected = <label-connected>
format-disconnected =

label-connected =  %essid:4:16:...% 

[module/battery-percent]
type = internal/battery

full-at = 99
battery = BAT0
adapter = AC
poll-interval = 2

format-full = 
format-full-background = ${colors.background-6}
format-full-foreground = ${colors.foreground-6}
format-full-padding = 1
format-charging = <animation-charging><label-charging>
format-discharging = <ramp-capacity><label-discharging>

label-charging =  %percentage:2:3%% 
label-charging-foreground = ${colors.foreground-1}
label-charging-background = ${colors.background-1}
label-discharging =  %percentage:02:3%% 
label-discharging-foreground = ${colors.foreground-1}
label-discharging-background = ${colors.background-1}

ramp-capacity-foreground = ${colors.foreground-5}
ramp-capacity-background = ${colors.background-5}
ramp-capacity-padding = 1
ramp-capacity-0 = 
ramp-capacity-0-foreground = ${colors.foreground-alert}
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

animation-charging-background = ${colors.background-6}
animation-charging-foreground = ${colors.foreground-6}
animation-charging-padding = 1
animation-charging-framerate = 750
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 

[module/battery-time]
type = internal/battery

full-at = 99
battery = BAT0
adapter = AC

poll-interval = 10
time-format =  %H:%M 

format-charging-prefix = 
format-charging-prefix-background = ${colors.background-6}
format-charging-prefix-foreground = ${colors.foreground-6}
format-charging-prefix-padding = 1
format-discharging-prefix = 
format-discharging-prefix-background = ${colors.background-5}
format-discharging-prefix-foreground = ${colors.foreground-5}
format-discharging-prefix-padding = 1

format-charging = <label-charging>
format-discharging = <label-discharging>
format-full =

label-charging = %time%
label-discharging = %time%