
foreground            #F6F7DB
background            #000000
selection_foreground  #B5C8BA
selection_background  #000000
url_color             #7BB8AF
cursor                #CD323D

# black
color0   #000000
color8   #5C4129

# red
color1   #CD323D
color9   #CD323D

# green
color2   #B5C8BA
color10  #B5C8BA

# yellow
color3   #DECB9A
color11  #DECB9A

# blue
color4  #798292
color12 #798292

# magenta
color5   #CC9E78
color13  #CC9E78

# cyan
color6   #7BB8AF
color14  #7BB8AF

# white
color7   #F6F7DB
color15  #FFFFFF

active_border_color #22a9a8
inactive_border_color #4c7572
bell_border_color #9d6097